<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizler</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/visualizations">Analizler</a></li>
            <li><a href="/map">Terör Haritası</a></li>
            <li><a href="/machine_learning">Machine Learning</a></li> <!-- Machine Learning sayfası eklendi -->
        </ul>
    </nav>

    <section id="visualization-section">
        <h1>Analizler</h1>
        <img src="/static/terror_activities_per_year.png" alt="Number of Terrorist Activities Each Year">
        <img src="/static/attack_methods_by_terrorists.png" alt="Attacking Methods by Terrorists">
        <img src="/static/top_affected_countries.png" alt="Top Affected Countries"> 
        <img src="/static/analiz2.png" alt="Top Affected Countries"> 
        <img src="/static/haritaanaliz.png" alt="Top Affected Countries"> 

    </section>


    <footer>
        <ul>
            <li>&copy; 2024 ömer salihoğlu. Tüm Hakları Saklıdır.</li>
            <li><a href="mailto:omersalihoglu19@gmail.com">İletişim</a></li>
        </ul>
    </footer>

</body>
</html>
